{% extends "base.html.twig" %}

{% block content %}
<div id="content" class="navigation-test" data-hello="" x-spfphp-listener-attributes="class, data-hello">
    <h1>Navigation test!</h1>
    <p> This simulates a server delay so you can see the cool progress bar!
</div>
{% endblock %}