<div id="masthead">
    <span id="masthead-logo">SpfPhp Test</span>
    <span id="masthead-links">
        <a href="/" class="spf-link">Index</a>
        <a href="/navigation_test" class="spf-link">Navigation Test</a>
        <a href="/xtag_test" class="spf-link">X-Tag Test</a>
        <a href="/autorender_test" class="spf-link">Autorender Test</a>
    </span>
</div>